* {
  box-sizing: border-box;
}


.body {
  margin: 0;
}

.container-wrapper {
  margin: 0;
  padding: 1em 0 1em 0 ;
  
  max-width: 1080px;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

img {
  padding: .5em;
  margin-bottom: 5px;
 
}

